:root{

    --mainbg: #001523;
    --maintext: #eddcd2;
    --skillbg: #144552;
    --iconcolor: #4d194d;
    --navhover: #3e1f47;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272640;
    height: 60px;
    border-top: 5px solid transparent;
    border-image: linear-gradient(to right, #006466, #1b3a4b, #4d194d);
    border-image-slice: 1;
    border-width: 5px;
    border-style: solid;
    position: fixed;
    z-index: 10;
}

.navbar-logo {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--maintext);
    border-radius: 50%;
}

.navbar-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border-radius: 50%;
}

.navbar-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: var(--maintext);
}

.navbar-menu a:hover {
    background-color: var(--navhover);
    border-radius: 10px;
}

body {
    background-color: var(--mainbg);
    color: var(--maintext);
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 36px;
}

p {
    font-size: 18px;
    margin: 20px;
}

a {
    color: var(--iconcolor);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.profile {
    align-items: center;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
}

.skill {
    background-color: var(--skillbg);
    padding: 10px;
    border-radius: 10px;
}

.skill h3 {
    text-align: center;
    font-size: 24px;
}

.skill ul {
    list-style: none;
    padding: 0;
}

.skill li {
    margin: 5px;
}

.contact {
    display: grid;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

.contact h2 {
    font-size: 28px;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    display: inline-block;
    margin: 10px;
}

.contact li img {
    width: 40px;
    height: 40px;
}

header {
    padding-bottom: 100px;
}

